# ==== Entornos virtuales ====
venv/
.venv/
env/
ENV/

# ==== Python ====
__pycache__/
*.py[cod]
*$py.class
*.so

# ==== Django ====
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
#staticfiles/
#media/

# ==== Variables de entorno ====
.env
.env.*
!.env.example

# ==== Testing / cobertura ====
#.coverage
#htmlcov/
#.pytest_cache/

# ==== Editores / IDE ====
.vscode/
.idea/
*.swp

# ==== Sistema operativo ====
.DS_Store
Thumbs.db

# ==== Empaquetado ====
build/
dist/
*.egg-info/

# ==== Archivos temporales ====
*.tmp
*.bak
